In [1]:
import pandas as pd
import numpy as np

In [11]:
xlsx = pd.ExcelFile("Research Analyst Sample Problem.xlsx")
internal = pd.read_excel(xlsx, 'Internal Call Center Data', header = 1)
external = pd.read_excel(xlsx, 'External Call Center Data', header = 2)

In [12]:
internal.head()

,Year,Day,Month,30MinSegment,Rep(s) Present,Phone (minutes),Shrinkage (minutes),Work (minutes),Rep Call Count,Rep Call Time,Claims Entered
0,2017,1,1,0.0,0,0.0,0.0,0.0,0,0.0,0
1,2017,1,1,0.5,0,0.0,0.0,0.0,0,0.0,0
2,2017,1,1,1.0,0,0.0,0.0,0.0,0,0.0,0
3,2017,1,1,1.5,0,0.0,0.0,0.0,0,0.0,0
4,2017,1,1,2.0,0,0.0,0.0,0.0,0,0.0,0

In [13]:
external.head()

,Year,Date,Day,Month,Calls Offered,Calls Answered,Calls Answered LY,Calls Abnd,Gross Abandon %,Abandon w/10,...,ASA Seconds,Talk Time Seconds,Service Level,Calls Offered Core HRS,TTL Claims,TTL Claim %,TTL Claim LY,TTL Messages,Messages %,Call to Claim Ratio
0,2017,2017-01-01,Sunday,1,38,31,25,7,0.184211,5,...,25,757,0.806452,24,17,0.548387,13,0,0.0,1.823529
1,2017,2017-01-02,Monday,1,48,39,29,9,0.187500,8,...,14,521,0.923077,42,18,0.461538,13,0,0.0,2.166667
2,2017,2017-01-03,Tuesday,1,25,15,21,10,0.400000,8,...,9,468,0.866667,11,9,0.600000,8,0,0.0,1.666667
3,2017,2017-01-04,Wednesday,1,15,10,16,5,0.333333,5,...,4,533,1.000000,8,7,0.700000,12,0,0.0,1.428571
4,2017,2017-01-05,Thursday,1,24,19,21,5,0.208333,5,...,4,491,0.947368,8,10,0.526316,11,0,0.0,1.900000

In [92]:
external.columns

Index(['Year', 'Date', 'Day', 'Month', 'Calls Offered', 'Calls Answered',
       'Calls Answered LY', 'Calls Abnd', 'Gross Abandon %', 'Abandon w/10',
       'Abandon %', 'Net Abandon %', 'ASA Seconds', 'Talk Time Seconds',
       'Service Level', 'Calls Offered Core HRS', 'TTL Claims', 'TTL Claim %',
       'TTL Claim LY', 'TTL Messages', 'Messages %', ' Call to Claim Ratio'],
      dtype='object')

#### 1. What is the cost per claim entered for the internal call center based on the data presented?

In [26]:
internal = internal.rename(columns={'Year':'YEAR', 'Day':'DAY', 'Month':'MONTH'})

In [34]:
internal['datetime'] = pd.to_datetime(internal.iloc[:, :3])

In [43]:
internal.head()

,YEAR,DAY,MONTH,30MinSegment,Rep(s) Present,Phone (minutes),Shrinkage (minutes),Work (minutes),Rep Call Count,Rep Call Time,Claims Entered,datetime
0,2017,1,1,0.0,0,0.0,0.0,0.0,0,0.0,0,2017-01-01
1,2017,1,1,0.5,0,0.0,0.0,0.0,0,0.0,0,2017-01-01
2,2017,1,1,1.0,0,0.0,0.0,0.0,0,0.0,0,2017-01-01
3,2017,1,1,1.5,0,0.0,0.0,0.0,0,0.0,0,2017-01-01
4,2017,1,1,2.0,0,0.0,0.0,0.0,0,0.0,0,2017-01-01

In [51]:
internal.loc[internal['datetime'] == '2017-01-01']['Claims Entered'].value_counts()

0    192
2     48
Name: Claims Entered, dtype: int64

In [57]:
total_claims = internal.groupby('datetime')['Claims Entered'].sum().sum()
total_claims

2905200

In [60]:
internal['Rep(s) Present'].sum()*(13.25/2)/total_claims

0.16057848857221535

#### This comes to just about 16 cents per claim cost

#### 2. What is the ideal staffing based upon the information provided? Please provide information that supports/helps explain your position.

In [70]:
internal_ophours = internal.merge(external[['Date', 'Day']], how = 'inner', left_on = 'datetime', right_on = 'Date')

In [73]:
internal_ophours.drop('Date', axis = 1)

,YEAR,DAY,MONTH,30MinSegment,Rep(s) Present,Phone (minutes),Shrinkage (minutes),Work (minutes),Rep Call Count,Rep Call Time,Claims Entered,datetime,Day
0,2017,1,1,0.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
1,2017,1,1,0.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
2,2017,1,1,1.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
3,2017,1,1,1.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
4,2017,1,1,2.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
5,2017,1,1,2.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
6,2017,1,1,3.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
7,2017,1,1,3.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
8,2017,1,1,4.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
9,2017,1,1,4.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
10,2017,1,1,5.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
11,2017,1,1,5.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
12,2017,1,1,6.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
13,2017,1,1,6.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
14,2017,1,1,7.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
15,2017,1,1,7.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
16,2017,1,1,8.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
17,2017,1,1,8.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
18,2017,1,1,9.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
19,2017,1,1,9.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
20,2017,1,1,10.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
21,2017,1,1,10.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
22,2017,1,1,11.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
23,2017,1,1,11.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
24,2017,1,1,12.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
25,2017,1,1,12.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
26,2017,1,1,13.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
27,2017,1,1,13.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
28,2017,1,1,14.0,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
29,2017,1,1,14.5,0,0.000000,0.000000,0.000000,0,0.000000,0,2017-01-01,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35010,2018,6,12,9.0,13,128.383333,11.133333,36.683333,11,56.833333,124,2018-12-06,Thursday
35011,2018,6,12,9.5,13,105.433333,30.550000,17.850000,11,47.266667,124,2018-12-06,Thursday
35012,2018,6,12,10.0,13,122.500000,4.633333,36.133333,14,51.166667,124,2018-12-06,Thursday
35013,2018,6,12,10.5,13,99.583333,13.333333,24.316667,12,35.650000,124,2018-12-06,Thursday
35014,2018,6,12,11.0,13,110.333333,43.416667,33.950000,15,68.066667,124,2018-12-06,Thursday
35015,2018,6,12,11.5,13,200.550000,24.633333,34.533333,18,86.016667,124,2018-12-06,Thursday
35016,2018,6,12,12.0,13,87.366667,9.466667,18.650000,9,45.450000,124,2018-12-06,Thursday
35017,2018,6,12,12.5,13,105.433333,17.150000,28.766667,9,43.700000,124,2018-12-06,Thursday
35018,2018,6,12,13.0,13,174.050000,31.216667,23.416667,10,43.900000,124,2018-12-06,Thursday
35019,2018,6,12,13.5,13,112.350000,6.150000,21.666667,12,66.266667,124,2018-12-06,Thursday
35020,2018,6,12,14.0,13,289.983333,22.033333,25.750000,9,54.050000,124,2018-12-06,Thursday
35021,2018,6,12,14.5,12,172.650000,23.016667,34.450000,16,86.450000,124,2018-12-06,Thursday
35022,2018,6,12,15.0,12,159.700000,16.533333,29.066667,18,89.750000,124,2018-12-06,Thursday
35023,2018,6,12,15.5,11,107.916667,9.633333,45.516667,19,79.333333,124,2018-12-06,Thursday
35024,2018,6,12,16.0,11,155.916667,48.966667,14.450000,9,87.733333,124,2018-12-06,Thursday
35025,2018,6,12,16.5,6,85.266667,12.666667,28.383333,7,14.783333,124,2018-12-06,Thursday
35026,2018,6,12,17.0,2,31.233333,0.033333,18.300000,5,30.050000,124,2018-12-06,Thursday
35027,2018,6,12,17.5,0,29.900000,0.000000,26.850000,3,29.750000,124,2018-12-06,Thursday
35028,2018,6,12,18.0,0,0.033333,0.050000,0.000000,0,0.000000,124,2018-12-06,Thursday
35029,2018,6,12,18.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35030,2018,6,12,19.0,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35031,2018,6,12,19.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35032,2018,6,12,20.0,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35033,2018,6,12,20.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35034,2018,6,12,21.0,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35035,2018,6,12,21.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35036,2018,6,12,22.0,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35037,2018,6,12,22.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35038,2018,6,12,23.0,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday
35039,2018,6,12,23.5,0,0.000000,0.000000,0.000000,0,0.000000,124,2018-12-06,Thursday

In [77]:
internal_ophours = internal_ophours.loc[~internal_ophours.Day.isin(['Saturday', 'Sunday'])]

In [84]:
internal_ophours = internal_ophours.loc[(internal_ophours['30MinSegment'] > 7.0) & (internal_ophours['30MinSegment'] < 17.0)]
# internal_ophours['30MinSegment'].dtypes

In [85]:
internal_ophours.head()

,YEAR,DAY,MONTH,30MinSegment,Rep(s) Present,Phone (minutes),Shrinkage (minutes),Work (minutes),Rep Call Count,Rep Call Time,Claims Entered,datetime,Date,Day
255,2017,2,1,7.5,2,53.633333,22.766667,5.233333,3,18.716667,64,2017-01-02,2017-01-02,Monday
256,2017,2,1,8.0,2,96.150000,6.233333,20.733333,8,48.550000,64,2017-01-02,2017-01-02,Monday
257,2017,2,1,8.5,3,152.183333,18.816667,15.750000,6,41.850000,64,2017-01-02,2017-01-02,Monday
258,2017,2,1,9.0,3,139.916667,39.300000,22.833333,7,62.383333,64,2017-01-02,2017-01-02,Monday
259,2017,2,1,9.5,3,243.283333,0.083333,15.816667,6,42.733333,64,2017-01-02,2017-01-02,Monday

In [62]:
internal['Rep Call Count'].mean()

4.272317351598174

In [63]:
internal['Rep Call Time'].mean()

29.17407819634707

#### Overall on average you would need 4 Reps on the phone every 30 min window

In [86]:
internal_ophours['Rep Call Count'].mean()

10.65576923076923

In [88]:
internal_ophours['Rep Call Time'].mean()

72.91432860998658

In [89]:
(internal_ophours['Rep Call Count'].mean())/30*(internal_ophours['Rep Call Time'].mean())

25.898608642816388

#### During operations hours, on average you are getting 10 calls every 30 min. Each of those calls lasts an average of 72 min. Therefore you would need about 26 reps on duty on average throughout the course of a normal work day. This would of course need ot be adjusted for peak call times as far as how that average is distributed.

####   3. What model would you use to establish a call center model? Why?  Please provide information that supports/helps explain your position.

In [96]:
external[' Call to Claim Ratio'].describe()

count    761.000000
mean       1.790628
std        0.647074
min        0.700000
25%        1.533333
50%        1.714286
75%        1.950000
max       13.000000
Name:  Call to Claim Ratio, dtype: float64

In [100]:
external.loc[external[' Call to Claim Ratio'] >= (external[' Call to Claim Ratio'].mean() 
                                                  - external[' Call to Claim Ratio'].std())]

,Year,Date,Day,Month,Calls Offered,Calls Answered,Calls Answered LY,Calls Abnd,Gross Abandon %,Abandon w/10,...,ASA Seconds,Talk Time Seconds,Service Level,Calls Offered Core HRS,TTL Claims,TTL Claim %,TTL Claim LY,TTL Messages,Messages %,Call to Claim Ratio
0,2017,2017-01-01,Sunday,1,38,31,25,7,0.184211,5,...,25,757,0.806452,24,17,0.548387,13,0,0.000000,1.823529
1,2017,2017-01-02,Monday,1,48,39,29,9,0.187500,8,...,14,521,0.923077,42,18,0.461538,13,0,0.000000,2.166667
2,2017,2017-01-03,Tuesday,1,25,15,21,10,0.400000,8,...,9,468,0.866667,11,9,0.600000,8,0,0.000000,1.666667
3,2017,2017-01-04,Wednesday,1,15,10,16,5,0.333333,5,...,4,533,1.000000,8,7,0.700000,12,0,0.000000,1.428571
4,2017,2017-01-05,Thursday,1,24,19,21,5,0.208333,5,...,4,491,0.947368,8,10,0.526316,11,0,0.000000,1.900000
5,2017,2017-01-06,Friday,1,175,136,11,39,0.222857,39,...,2,640,0.985294,168,67,0.492647,5,0,0.000000,2.029851
6,2017,2017-01-07,Saturday,1,97,76,17,21,0.216495,19,...,6,706,0.894737,94,45,0.592105,8,1,0.013158,1.688889
7,2017,2017-01-08,Sunday,1,44,38,21,6,0.136364,5,...,25,774,0.631579,44,27,0.710526,11,0,0.000000,1.407407
8,2017,2017-01-09,Monday,1,42,31,14,11,0.261905,11,...,4,564,0.935484,37,19,0.612903,3,0,0.000000,1.631579
9,2017,2017-01-10,Tuesday,1,25,20,17,5,0.200000,5,...,7,710,0.900000,5,13,0.650000,6,0,0.000000,1.538462
10,2017,2017-01-11,Wednesday,1,25,20,15,5,0.200000,4,...,4,718,0.950000,14,10,0.500000,9,0,0.000000,2.000000
11,2017,2017-01-12,Thursday,1,17,11,21,6,0.352941,6,...,1,446,0.909091,4,7,0.636364,9,0,0.000000,1.571429
12,2017,2017-01-13,Friday,1,24,17,16,7,0.291667,7,...,1,674,0.941176,17,11,0.647059,10,0,0.000000,1.545455
13,2017,2017-01-14,Saturday,1,112,92,12,20,0.178571,19,...,5,653,0.891304,110,50,0.543478,8,0,0.000000,1.840000
14,2017,2017-01-15,Sunday,1,42,38,39,4,0.095238,4,...,5,710,0.842105,37,21,0.552632,18,0,0.000000,1.809524
15,2017,2017-01-16,Monday,1,16,11,11,5,0.312500,5,...,3,359,1.000000,8,4,0.363636,8,0,0.000000,2.750000
16,2017,2017-01-17,Tuesday,1,26,21,20,5,0.192308,5,...,4,792,0.904762,6,8,0.380952,11,0,0.000000,2.625000
17,2017,2017-01-18,Wednesday,1,18,15,88,3,0.166667,3,...,28,817,0.533333,5,13,0.866667,50,0,0.000000,1.153846
18,2017,2017-01-19,Thursday,1,14,9,62,5,0.357143,5,...,3,802,1.000000,1,7,0.777778,26,0,0.000000,1.285714
19,2017,2017-01-20,Friday,1,15,12,293,3,0.200000,3,...,20,890,0.583333,11,8,0.666667,130,0,0.000000,1.500000
20,2017,2017-01-21,Saturday,1,101,82,94,19,0.188119,19,...,4,570,0.914634,96,37,0.451220,45,0,0.000000,2.216216
21,2017,2017-01-22,Sunday,1,49,43,14,6,0.122449,6,...,2,718,0.883721,38,27,0.627907,7,0,0.000000,1.592593
22,2017,2017-01-23,Monday,1,18,15,25,3,0.166667,3,...,4,559,1.000000,10,10,0.666667,17,0,0.000000,1.500000
23,2017,2017-01-24,Tuesday,1,18,15,15,3,0.166667,3,...,11,454,0.666667,3,7,0.466667,8,0,0.000000,2.142857
24,2017,2017-01-25,Wednesday,1,15,14,31,1,0.066667,1,...,9,641,0.857143,3,8,0.571429,11,0,0.000000,1.750000
25,2017,2017-01-26,Thursday,1,8,6,22,2,0.250000,2,...,3,731,1.000000,0,5,0.833333,10,0,0.000000,1.200000
26,2017,2017-01-27,Friday,1,24,17,15,7,0.291667,6,...,15,500,0.705882,16,7,0.411765,5,0,0.000000,2.428571
27,2017,2017-01-28,Saturday,1,89,76,15,13,0.146067,11,...,7,547,0.828947,86,36,0.473684,6,0,0.000000,2.111111
28,2017,2017-01-29,Sunday,1,36,29,22,7,0.194444,6,...,10,631,0.793103,33,15,0.517241,13,0,0.000000,1.933333
29,2017,2017-01-30,Monday,1,6,6,11,0,0.000000,0,...,10,486,0.666667,3,5,0.833333,8,0,0.000000,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731,2019,2019-01-02,Wednesday,1,41,32,32,9,0.219512,8,...,82,567,0.781250,22,20,0.625000,18,0,0.000000,1.600000
732,2019,2019-01-03,Thursday,1,39,21,33,18,0.461538,18,...,31,721,0.809524,9,13,0.619048,17,0,0.000000,1.615385
733,2019,2019-01-04,Friday,1,68,29,31,39,0.573529,39,...,4,587,1.000000,10,18,0.620690,19,0,0.000000,1.611111
734,2019,2019-01-05,Saturday,1,151,66,82,85,0.562914,83,...,7,757,0.893939,0,35,0.530303,36,0,0.000000,1.885714
735,2019,2019-01-06,Sunday,1,109,39,43,70,0.642202,69,...,18,562,0.794872,0,18,0.461538,26,0,0.000000,2.166667
736,2019,2019-01-07,Monday,1,57,21,50,36,0.631579,36,...,11,639,0.904762,21,12,0.571429,33,0,0.000000,1.750000
737,2019,2019-01-08,Tuesday,1,79,23,53,56,0.708861,55,...,5,836,0.956522,13,14,0.608696,32,0,0.000000,1.642857
738,2019,2019-01-09,Wednesday,1,82,26,44,56,0.682927,56,...,23,458,0.730769,10,14,0.538462,24,0,0.000000,1.857143
739,2019,2019-01-10,Thursday,1,72,19,32,53,0.736111,53,...,3,850,1.000000,5,16,0.842105,22,0,0.000000,1.187500
740,2019,2019-01-11,Friday,1,85,34,136,51,0.600000,50,...,10,590,0.911765,12,23,0.676471,79,0,0.000000,1.478261
741,2019,2019-01-12,Saturday,1,226,121,67,105,0.464602,105,...,4,742,0.975207,0,72,0.595041,41,0,0.000000,1.680556
742,2019,2019-01-13,Sunday,1,140,38,37,102,0.728571,102,...,4,1043,1.000000,0,31,0.815789,27,0,0.000000,1.225806
743,2019,2019-01-14,Monday,1,69,33,45,36,0.521739,35,...,14,560,0.848485,34,20,0.606061,34,0,0.000000,1.650000
744,2019,2019-01-15,Tuesday,1,82,30,88,52,0.634146,52,...,12,622,0.900000,20,22,0.733333,51,0,0.000000,1.363636
745,2019,2019-01-16,Wednesday,1,76,22,52,54,0.710526,54,...,4,594,0.954545,10,15,0.681818,33,0,0.000000,1.466667
746,2019,2019-01-17,Thursday,1,73,23,49,50,0.684932,50,...,7,668,0.956522,7,20,0.869565,38,0,0.000000,1.150000
747,2019,2019-01-18,Friday,1,70,19,37,51,0.728571,51,...,8,491,0.947368,10,11,0.578947,29,0,0.000000,1.727273
748,2019,2019-01-19,Saturday,1,166,66,95,100,0.602410,99,...,21,645,0.878788,0,35,0.530303,43,0,0.000000,1.885714
749,2019,2019-01-20,Sunday,1,131,41,40,90,0.687023,90,...,4,818,0.975610,0,25,0.609756,25,0,0.000000,1.640000
750,2019,2019-01-21,Monday,1,70,27,39,43,0.614286,43,...,9,452,0.888889,24,17,0.629630,25,0,0.000000,1.588235
751,2019,2019-01-22,Tuesday,1,79,31,22,48,0.607595,48,...,15,646,0.967742,23,20,0.645161,19,0,0.000000,1.550000
752,2019,2019-01-23,Wednesday,1,99,43,20,56,0.565657,56,...,23,690,0.813953,33,25,0.581395,13,0,0.000000,1.720000
753,2019,2019-01-24,Thursday,1,85,40,32,45,0.529412,44,...,12,673,0.875000,30,21,0.525000,23,0,0.000000,1.904762
754,2019,2019-01-25,Friday,1,35,28,37,7,0.200000,7,...,16,765,0.892857,17,17,0.607143,28,1,0.035714,1.647059
755,2019,2019-01-26,Saturday,1,105,88,90,17,0.161905,15,...,10,767,0.920455,0,55,0.625000,40,0,0.000000,1.600000
756,2019,2019-01-27,Sunday,1,48,43,38,5,0.104167,5,...,4,822,0.976744,0,32,0.744186,24,0,0.000000,1.343750
757,2019,2019-01-28,Monday,1,55,44,20,11,0.200000,11,...,11,564,0.931818,53,27,0.613636,7,0,0.000000,1.629630
758,2019,2019-01-29,Tuesday,1,27,22,28,5,0.185185,5,...,4,664,0.954545,23,12,0.545455,16,0,0.000000,1.833333
759,2019,2019-01-30,Wednesday,1,36,28,28,8,0.222222,7,...,7,630,0.857143,21,13,0.464286,14,0,0.000000,2.153846
760,2019,2019-01-31,Thursday,1,41,35,24,6,0.146341,6,...,22,671,0.828571,24,21,0.600000,18,0,0.000000,1.666667